<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component" label="COM_RA_SETUP_COMPONENT_LABEL" description="COM_RA_SETUP_COMPONENT_DESC">
		<field name="enabled" type="radio" label="Enabled" default="1" class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
</config>
